.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-top: .3rem;
}

.form-group input {
    padding: .7rem;
    outline: none;
    border-radius: 15px;
    border: 1px solid #007aff;
    width:100%
}

.form-group input::placeholder{
  color: black;
}

.form-group select {
    padding: .7rem;
    border-radius: 15px;
    border: 1px solid #007aff;
    display: flex;
    outline: none;
}

.select-dropdown option {
    line-height: 50px; 
  }

.form-button {
    padding: .7rem;
    background-color: #007aff;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 15px;
}

.form-group label {
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 0.3rem;
    padding-bottom: .3rem;
    text-align: justify;
}

.button-div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-login-link {
    background-color: white;
    border: none;
    outline: none;
}

.form-register-link {
    background-color: white;
    border: none;
    outline: none;
}

.error {
    color: red;
    font-weight: 600;
    padding-top: 0.3rem;
    
}